@model TasksListViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TO DO LIST</title>
        <link rel="stylesheet" href="~/css/TasksList.css"/>
    </head>
    <body>
        <div class="header">
            <span class="site-name">TO DO LIST</span>
            <nav>
                <span class="nav-item"><a asp-controller="Home" asp-action="TasksList">Task List</a></span>
                <span class="nav-item"><a asp-controller="Home" asp-action="CategoriesList">Categories</a></span>
            </nav>
            <form asp-controller="Home" asp-action="ChangeDataBase" method="post">
                <select name="newSelectedDB" class="select-database" onchange="this.form.submit()">
                    @if (DataBaseStatus.ChoosedDataBase == (int)DataBaseList.MSSQLDataBase)
                    {
                        <option value="0" selected>MSSQLDataBase</option>
                        <option value="1">XMLDataBase</option>
                    }
                    else if (DataBaseStatus.ChoosedDataBase == (int)DataBaseList.XMLDataBase)
                    {
                        <option value="0">MSSQLDataBase</option>
                        <option value="1" selected>XMLDataBase</option>
                    }
                </select>
            </form>
        </div>
        <div class="main">
            <form class="add-new-task-box" asp-controller="Home" asp-action="CreateTask" method="post">
                <div class="item">
                    <label for="TaskName">Task Name</label>
                    <input name="TaskName" type="text" required/>
                </div>
                <div class="item">
                    <label for="TaskText">Task Text</label>
                    <input name="TaskText" type="text"/>
                </div>
                <div class="item">
                    <label for="DeadLine">DeadLine</label>
                    <input name="DeadLine" type="datetime-local"/>
                </div>
                <div class="item">
                    <label for="categories">Category</label>
                    <select name="Category" class="category-select">
                        @foreach(var category in Model.Categories) {
                            <option value=@category.Id >@category.Name</option>
                        }
                    </select>
                </div>
                <div class="buttons">
                    <button type="reset">Clear</button>
                    <button type="submit">Create</button>
                </div>
            </form>
            <div class="tasks">
                <span class="not-completed-tasks">Not Completed Tasks</span>
                @if(Model.NotCompletedTasks.Count == 0) {
                    <br><span class="red-text">You don't have not completed tasks!</span>
                }
                @foreach(var task in Model.NotCompletedTasks)
                {
                <div class="task @(DateTime.Now > task.DeadLine ? "missed" : "")">
                    <div class="task-head">
                        <span class="task-name">@task.TaskName</span>

                        @if(task.DeadLine == null)
                        {
                            <span class="task-deadline"> </span>
                        }
                        else
                        {
                            <span class="task-deadline">@task.DeadLine.Value</span>
                        }

                        @foreach(var category in Model.Categories)
                        {
                            if(task.Category == category.Id)
                            {
                                <span class="task-category">@category.Name</span>
                            }
                        }

                        @if(task.IsCompleted == true)
                        {
                            <span class="is-completed-done">Completed</span>    
                        }
                        else
                        {
                            <span class="is-completed-not-done">Not Completed</span>
                        }
                    </div>
                    <span class="task-text">@task.TaskText</span>
                    <div class="buttons">
                        <form method="post" asp-action="DeleteTask">
                            <button class="delete-button" type="submit">Delete</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>
                        @if(task.IsCompleted == true)
                        {
                        <form method="post" asp-action="NotDoneTask">
                            <button class="done-button" type="submit">Not done</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>
                        }
                        else
                        {
                        <form method="post" asp-action="DoneTask">
                            <button class="done-button" type="submit">Already done</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>                        
                        <form method="post" asp-action="EditTask">
                            <button class="done-button" type="submit">Edit</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>
                        }
                    </div>
                </div>
                }
            </div>

            <div class="tasks">
                <span class="completed-tasks">Completed Tasks</span>
                @if(Model.CompletedTasks.Count == 0) {
                    <br><span class="red-text">You don't have completed tasks!</span>
                }
                @foreach(var task in Model.CompletedTasks)
                {
                <div class="task">
                    <div class="task-head">
                        <span class="task-name"><del>@task.TaskName</del></span>
                        <span class="task-deadline">@task.FinishDate</span>
                        @foreach(var category in Model.Categories)
                        {
                            if(task.Category == category.Id)
                            {
                                <span class="task-category">@category.Name</span>
                            }
                        }
                        @if(task.IsCompleted == true)
                        {
                            <span class="is-completed-done">Completed</span>    
                        }
                        else
                        {
                            <span class="is-completed-not-done">Not Completed</span>
                        }
                    </div>
                    <span class="task-text">@task.TaskText</span>
                    <div class="buttons">
                        <form method="post" asp-action="DeleteTask">
                            <button class="delete-button" type="submit">Delete</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>
                        @if(task.IsCompleted == true)
                        {
                        <form method="post" asp-action="NotDoneTask">
                            <button class="done-button" type="submit">Not done</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>
                        }
                        else
                        {
                        <form method="post" asp-action="DoneTask">
                            <button class="done-button" type="submit">Already done</button>
                            <input type="hidden" name="TaskId" value="@task.Id"/>
                        </form>
                        }
                    </div>
                </div>
                }
        </div>
    </body>
</html>